

.Option{
    display: flex;
    background-color: #6599FF;
}
.opt__form{
    flex: 1;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.opt__data{
    flex: 1;
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}


a:hover{
    background-color: #0253f4;
    color: #ffffff
}


