.Navbar{
    display: flex;
    flex-direction: left;
    height: 4rem;
    background-color: #ffffff;
}
.nav__name{
    display: flex;
   flex: 1;
   align-items: center;
   justify-content: center;
   color: rgb(0, 0, 0);
}
.nav__name img{ padding: 2rem;}
.nav__networkSelector{
    display: flex;
   flex:1;
   align-items: center;
}
.nav__networkSelector select{
    border: 2px solid rgb(5, 5, 5);
    padding: 0.5rem 1rem;
    border-radius:0.4em;
    margin: 2rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.nav__balance{
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav__balance-box{
    border: 2px solid white;
    background-color:#6599FF;
    border-radius: 2rem;
    flex:1;
    height: 2.5rem;
    margin: 2rem 4rem ;
    cursor: pointer;
}
select option { color: rgb(16, 16, 16); }

.nav__myBalance{
    color: rgb(0, 0, 0);
}
.nav__myAccount{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.identicon{
    margin-left: 0.5rem;
}